<html>

<head>
    <link rel="stylesheet" href="static/styles/all.min.css">
    <link rel="stylesheet" href="static/styles/bootstrap.min.css">
    <link rel="stylesheet" href="static/styles/side_Nav_style.css">
    <link rel="stylesheet" href="static/styles/home_needDonation.css">

    

</head>


<body>




  <!-- Contect Section -->


   <section id="socialBar">
       <div class="contectSection">           <div class=" contactInfo">
               <span><stronge> Call: </stronge> <a href="tel:9999999999"> 9873838332 </a></span>
               <span><stronge> Mail: </stronge> <a href="mailto:thakurcollegecompb@blooddonation.com"> mail to : thakurcompb@blooddonation.com </a></span>
           </div>
           <div class="clr"></div>
       </div>
   </section>
  <!-- End Contect Section -->



  <!-- Header -->

   <section  id="header">
      
          <div id="sliderHome" class="headerSection ">
            <div >
          
              <nav class="mainMenu navbar navbar-expand-lg navbar-light bg-transparent-custom">
                <a class="navbar-brand" href="#"><img id="logo" width="150px" src="/static/img/1logo.png"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                  <ul class="navbar-nav ">
                    <li class="nav-item active">
                      <a class="nav-link" href="#header">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                      <a  class="nav-link serClass-N" href="#services">Services</a>
                    </li>                                          <li class="nav-item">
                        <a class="nav-link aboutClass-N" href="#aboutUs">About Us</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link contactClass-N" href="#contactUs">Contact Us</a>
                      </li>
                  
                  </ul>
                </div>
              </nav> 

              <div class="sliderSection sectionslider1"> 
                <div class="overlayHeader">
                  <div id="content1" class="content w-50 ">
                    <p class="content-header">All you need to get or give help</p>
                    <h1> Blood Donation </h1>  
                    <p class="main-content">Our mission is eradicate blood shortage.
                  </p>
                     
                   </div>
               </div>
             
                </div>
              

              </div>
              <div class="sliderSection sectionslider2"> 
                <div class="overlayHeader">
                  <div id="content2" class="content w-50 p-5">
                    <p class="content-header">All you need to get or give help</p>
                    <h1> Blood Donation </h1>  
                    <p class="main-content">Our nation requires 4 Crore Units of Blood while only 40 lakh units are available,every two seconds someone needs blood.There is no substitute for human blood.It cannot be manufactured.
                     </p>
                     
               </div>
             
                </div>
              

              </div>
              <div class="sliderSection sectionslider3"> 
                <div class="overlayHeader">
                  <div id="content3" class="content w-50 p-5">
                    <p class="content-header">All you need to get or give help</p>
                    <h1> Blood Donation </h1>  
                    <p class="main-content">Blood donation is an extremely noble deed,yet there is a scarcity of regular donars across India.We focus on creating and expanding a virtual army of blood donating volunteers who could be searched and contacted by family / care givers of a patient in times of need</p>
                    
               </div>
             
                </div>
              

              </div>

            <div class="switcher">
                <div id="slide1" class="dots"> </div>
                <div id="slide2" class="dots"> </div>
                <div id="slide3" class="dots"> </div>
            </div>
              
          </div>
        </div>
   </section>
  <!-- End Header -->

  <!--<section id="slidNews">
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Possimus minima eius natus, tenetur itaque non,
       ad aspernatur pariatur explicabo nam, rerum nulla dolorum! Aperiam earum nemo maiores nesciunt quibusdam placeat!</p>
  </section>
-->
 
  <!-- Services Section -->
  <section class="serClass"  id="services">
    <div class="container servicesSection p-5">

      
      <div class="col-md-12 py-5 text-center Services anyCaption">
        <h2 class="font-weight-bold justify-content-center">Services</h2>
        <div class="w-75 mx-auto py-4">        </div>
    </div>
      <div class="row p-5">
       
        <div class="col-md-4 border-service">
          <h3 id="ser1">Donate Blood</h3>
          <p class="text-justify"> We are grateful for Our Real Hero and hope for them
             always success who helps Donate to our Blood Bank. You will become a vital
            part of the biggest Blood Donation organization in the world. Blood Bank today
             receive recent causes to Fundraising for charitable projects. We need your help.

          </p>
        </div>
        <div class="col-md-4 border-service">
          <h3 id="ser2">Request Blood</h3>
          <p class="text-justify"> Our nation requires 4 Crore Units of Blood while only 40 lakh units are available,
             Every two seconds someone needs Blood. There is no substitute for Human Blood. It cannot be manufactured.

          </p>
        </div>
        <div class="col-md-4 border-service">
          <h3 id="ser3">Be a Saviour</h3>
          <p class="text-justify">Blood donation is an extremely noble deed,
             yet there is a scarcity of regular donors across India. We focus on
              creating & expanding a virtual army of blood donating volunteers who
               could be searched and contacted by family / care givers of a patient
                in times of need.

          </p>
        </div>
      </div>
    </div> </section>

<!-- End Services Section -->


  <!-- About Us -->

  <section  class="aboutClass"   id="aboutUs">

      <div class="aboutSection p-5">
        <div class="col-md-12 py-5 text-center aboutCaption anyCaption">
          <h2 class="font-weight-bold justify-content-center">About Us</h2>
          <p class="w-75 mx-auto py-3 text-justify">
      </div>
        <div class="row ">Mission :<br>
To contribute towards the problem of shortage of blood in India by raising awareness and improving donor experience and thereby, become a 360-degree solution provider.</br> 
Vision :<br>
Reach Blood Sufficient India through Voluntary Blood Donations.</br>

Ensuring continuous, sufficient blood supply to blood banks through blood donation camps and weekly donations<br>


Helping those in dire need by operating an emergency 24x7 helpline</br>


Increasing awareness by organizing Street Plays, Info-Talks, Competitions<br>


Establishing a network of youth across the country to lead the movement </br>
     </p>
        </div>
      </div>
  </section>

  <!-- End About Us -->





<!-- Contact Us -->
    

<section  class="contactClass" id="contactUs">
  <div class="container-fluid">
    <div class="col-md-12 p-5 text-center contact-Us anyCaption">
      <h2 class="font-weight-bold justify-content-center">Contact Us</h2>
      <div class="w-75 mx-auto py-2 px-5">Mail us at : thakurcollegecompb@blooddonation.com <br>Helpline no. : 98976543523   </div>
  </div>
   <div class="row  p-5">
                <div class="col-md-6">
               
              
                </div>
               
   </div>
  </div>

</section>
<!-- End Contact Us -->




<!-- Footer -->

<section id="footer">
  
  <!-- Footer -->
<footer class="page-footer font-small cyan darken-3">

  <!-- Footer Elements -->
  <div class="container">

    <!-- Grid row-->
    <div class="row pt-5 ">

      <!-- Grid column -->
      <div class="col-md-12 py-5">
        <div class="mb-5 flex-center">

                   </a>
        </div>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row-->

  </div>
  <!-- Footer Elements -->

  
</footer>
<!-- Footer -->
</section>


<!-- End Footer -->



    <!----------------------------------------------->
    <section id="donation">

      <div class="overlay  p-5" id="don">

         

          <div class="formBody rounded m-auto">


              <div class="transitionForm rounded d-flex align-items-center">

                  <div class="row p-3 container m-auto">

                      <div class="col-md-4 paddingCnceling">

                         <div class="backWidth backwidth1 d-flex justify-content-center align-items-center rounded currentbackwidth" id="perInfo">
                              <i class="fas fa-user-friends backFont pl-1"></i>
                              <span class="currentspan p-3">Personal Info</span>
                          </div>

                      </div>

                      <div class="col-md-4 paddingCnceling">

                          <div class="backWidth backwidth2 d-flex justify-content-center align-items-center rounded" id="bloInfo">
                              <i class="fas fa-heart backFont"></i>
                              <span class=" p-3">Blood Info</span>
                          </div>

                       </div>

                      <div class="col-md-4 paddingCnceling">

                          <div class="backWidth backwidth3 d-flex justify-content-center align-items-center rounded" id="getIn">
                              <i class="fas fa-comment-dots backFont"></i>
                              <span class=" p-3">Get In Touch</span>
                          </div>

                      </div>


                  </div>

              </div>


              <i class="fas fa-times fa-x" id="close"></i>     

              <div class="formContent">

                

                  <div id="perInfo-m" class="check">

                    <div class="row justify-content-center my-3">

                      <div class="col-md-2">

                        <label>Name<span>*</span> </label>

                      </div>

                      <div class="col-md-5 paddingCnceling">

                        <div><input type="text" class=" p-2 rounded" placeholder="First Name"></div>

                      </div>

                      <div class="col-md-5 paddingCnceling">

                        <div><input type="text" class="p-2 rounded w-100" placeholder="Last Name"></div>
                        
                      </div>

                    </div>


                    <div class="row justify-content-center my-3">

                      <div class="col-md-2">

                        <label>Mail<span>*</span> </label>

                      </div>

                      <div class="col-md-10 paddingCnceling">

                        <div><input type="text" class=" p-2 rounded w-100" placeholder="E-mail"></div>

                      </div>

      

                    </div>

        
                    <div class="row justify-content-center my-3">

                      <div class="col-md-2">

                        <label>Address<span>*</span> </label>

                      </div>

                      <div class="col-md-5 paddingCnceling">

                        <div><input type="text" class=" p-2 rounded" placeholder="City"></div>

                      </div>

                      <div class="col-md-5 paddingCnceling">

                        <div><input type="text" class="p-2 rounded w-100" placeholder="Current active address"></div>
                        
                      </div>

                    </div>

                    <div class="row justify-content-center my-3">

                      <div class="col-md-2">

                        <label>Password<span>*</span> </label>

                      </div>

                      <div class="col-md-10 paddingCnceling">

                        <div><input type="password" class=" p-2 rounded w-100" placeholder="Password"></div>

                      </div>

                      <button id="nextButton" class="btn btn-outline-danger p-2 rounded">Next</button>

                    </div>
                  

                  </div>



                  <div id="bloInfo-m" class="check">

                    <div class="row justify-content-center my-3">

                      <div class="col-md-2">

                        <label>Patient<span>*</span> </label> 

                      </div>

                      <div class="col-md-5 paddingCnceling">

                        <div><input type="text" class=" p-2 rounded" placeholder="Blood Class"></div>

                      </div>

                      <div class="col-md-5 paddingCnceling">

                        <div><input type="text" class="p-2 rounded w-100" placeholder="Last Donation Time"></div>
                        
                      </div>

                    </div>

                    <div class="row justify-content-center my-3">

                      <div class="col-md-2">  
                      </div>

                      <div class="col-md-5 paddingCnceling">

                        <div><input type="text" class=" p-2 rounded" placeholder="Age"></div>

                      </div>

                      <div class="col-md-5 paddingCnceling">

                        <div>
                          <select class="w-100 p-1">
                            <option selected disabled>Gender</option>
                            <option>Male</option>
                            <option>Female</option>
                            
                          </select>
                        </div>
                        
                      </div>

                    </div>


                    <div class="row justify-content-center my-3">

                      <div class="col-md-2">

                        <label>ID<span>*</span> </label>

                      </div>

                      <div class="col-md-10 paddingCnceling">

                        <div><input type="text" class=" p-2 rounded w-100" placeholder="ID Number"></div>

                      </div>

      

                    </div>

                    
                    <div class="row justify-content-center my-3">

                      <div class="col-md-2">

                        <label>Healthy<span>*</span> </label>

                      </div>

                      <div class="col-md-10 paddingCnceling">

                        <div><input type="text" class=" p-2 rounded w-100" placeholder="Please mention any chronic disorders"></div>

                      </div>
                      <button id="fillMessageButton"  class="btn btn-outline-danger p-2 rounded">Fill Message</button>
      

                    </div>

          
                  </div>

                  

                  <div id="getIn-m" class="check">


                    <div class="row justify-content-center my-3">

                      <div class="col-md-2">

                        <label>Message</label>

                      </div>

                      <div class="col-md-10 paddingCnceling">

                        <div><textarea type="text" class=" p-2 rounded w-100" placeholder="Message us if you have any note"></textarea></div>

                        <button id="submit" class="btn btn-outline-danger p-2 rounded">Request</button>
                      </div>
                      
                    </div>
                    
              
                  </div>
              </div>



          </div>
         
      </div>

    </section>

    <!--  Result donation section     -->

    <section id="resultsDonation">

      <div class="overlay p-5">

          <div class="formResult rounded m-auto">
            <div class="resultInfo py-3">

              <div class="header mb-5">
                  <div class="rounded mb-3 d-flex justify-content-center align-items-center ">
                      <i class="fas fa-hand-holding-heart mr-3"></i>
                      <span>Request Information</span>
                  </div>
              </div>
        
            
              <div class="fullPage">
        
                  <div class="row container my-2">
        
                      <div class="col-md-2"></div>
        
                      <div class="col-md-3 ">
        
                          <div><p class="d-flex justify-content-center align-items-center">Process ID</p></div>
                      </div>
        
                      <div class="col-md-1"></div>
        
                      <div class="col-md-5"><p class="d-flex justify-content-center align-items-center">123456</p></div>
                  </div>
        
                  <div class="row container my-2">
        
                      <div class="col-md-3"></div>
        
                      <div class="col-md-7 ">
        
                          <div><p class="d-flex justify-content-center align-items-center">Congratulations, Your request to help is accepted</p></div>
                      </div>
        
                      <div class="col-md-2"></div>
        
                  </div>
        
                  <div class="row container my-2">
        
                      <div class="col-md-2"></div>
        
                      <div class="col-md-3 ">
        
                          <div><p class="d-flex justify-content-center align-items-center">Hospital location</p></div>
                      </div>
        
                      <div class="col-md-1"></div>
        
                      <div class="col-md-5"><p class="d-flex justify-content-center align-items-center">Nasr Hospital located in XYZ street</p></div>
                  </div>
        
                  <div class="row container my-2">
        
                      <div class="col-md-2"></div>
        
                      <div class="col-md-3 ">
        
                          <div><p class="d-flex justify-content-center align-items-center">Confirmed Date</p></div>
                      </div>
        
                      <div class="col-md-1"></div>
        
                      <div class="col-md-5"><p class="d-flex justify-content-center align-items-center">Sat, 21 / 7 /2020</p></div>
                  </div>
        
                  <div class="row container my-2">
        
                      <div class="col-md-3"></div>
        
                      <div class="col-md-7 ">
        
                          <div><p class="d-flex justify-content-center align-items-center">We appreciate your HELP, Be safe!</p></div>
                      </div>
        
                      <div class="col-md-2"></div>
        
                  </div>
                
                  <div class="saveButton ">
              
                      <div class="row">
        
                          <div class="col-md-9"></div>
        
                          <div class="col-md-2">
        
                          <div><a href="home.html"><button class="btn btn-outline-danger p-1 rounded">Save</button></a></div>
        
                      </div>
        
                  </div>
        
              </div>
        
            </div>
          </div>
        
      </div>


    </section>

  <!--- Need Donation section   --->

    <section id="needDonation">

      <div class="overlay p-5" id="ndon">

          
          

          <div class="formBody rounded m-auto">

                  <div class="transitionForm rounded d-flex align-items-center">

                      <div class="row p-3 container m-auto">

                          <div class="col-md-4 paddingCnceling">

                              <div class="backWidth backwidth1 d-flex justify-content-center align-items-center rounded currentbackwidth" id="nperInfo">
                                  <i class="fas fa-user-friends backFont pl-1"></i>
                                  <span class="currentspan p-3">Personal Info</span>
                              </div>

                          </div>

                          <div class="col-md-4 paddingCnceling">

                              <div class="backWidth backwidth2 d-flex justify-content-center align-items-center rounded" id="nbloInfo">
                                  <i class="fas fa-heart backFont"></i>
                                  <span class=" p-3">Blood Info</span>
                              </div>

                          </div>

                          <div class="col-md-4 paddingCnceling">

                              <div class="backWidth backwidth3 d-flex justify-content-center align-items-center rounded" id="ngetIn">
                                  <i class="fas fa-comment-dots backFont"></i>
                                  <span class=" p-3">Get In Touch</span>
                                  
                              </div>

                          </div>


                      </div>

                  </div>


                  <i class="fas fa-times fa-x" id="nclose"></i>     

                  <div class="formContent">

                  

                      <div id="nperInfo-m" class="check">

                      <div class="row justify-content-center my-3">

                          <div class="col-md-2">

                          <label>Name<span>*</span> </label>

                          </div>

                          <div class="col-md-5 paddingCnceling">

                          <div><input type="text" class=" p-2 rounded" placeholder="First Name"></div>

                          </div>

                          <div class="col-md-5 paddingCnceling">

                          <div><input type="text" class="p-2 rounded w-100" placeholder="Last Name"></div>
                          
                          </div>

                      </div>


                      <div class="row justify-content-center my-3">

                          <div class="col-md-2">

                          <label>Mail<span>*</span> </label>

                          </div>

                          <div class="col-md-10 paddingCnceling">

                          <div><input type="text" class=" p-2 rounded w-100" placeholder="E-mail"></div>

                          </div>

          

                      </div>

          
                      <div class="row justify-content-center my-3">

                          <div class="col-md-2">

                          <label>Address<span>*</span> </label>

                          </div>

                          <div class="col-md-5 paddingCnceling">

                          <div><input type="text" class=" p-2 rounded" placeholder="City"></div>

                          </div>

                          <div class="col-md-5 paddingCnceling">

                          <div><input type="text" class="p-2 rounded w-100" placeholder="Current active address"></div>
                          
                          </div>

                      </div>

                      <div class="row justify-content-center my-3">

                          <div class="col-md-2">

                          <label>Password<span>*</span> </label>

                          </div>

                          <div class="col-md-10 paddingCnceling">

                          <div><input type="password" class=" p-2 rounded w-100" placeholder="Password"></div>

                          </div>
                          <button id="nextButton" class="btn btn-outline-danger p-2 rounded">Next</button>
                          

                      </div>
                      

                      </div>



                      <div id="nbloInfo-m" class="check">

                      <div class="row justify-content-center my-3">

                          <div class="col-md-2">

                          <label>Patient<span>*</span> </label> 

                          </div>

                          <div class="col-md-5 paddingCnceling">

                          <div><input type="text" class=" p-2 rounded" placeholder="Blood Class"></div>

                          </div>

                          <div class="col-md-5 paddingCnceling">

                          <div><input type="text" class="p-2 rounded w-100" placeholder="Amount needed of blood"></div>
                          
                          </div>
                      </div>

                      <div class="row justify-content-center my-3">

                          <div class="col-md-2">  
                          </div>

                          <div class="col-md-5 paddingCnceling">

                            <div>
                              <select class="dod p-1">
                                <option selected disabled>Gender</option>
                                <option>Male</option>
                                <option>Female</option>
                                
                              </select>
                            </div>
                          </div>

                          <div class="col-md-5 paddingCnceling">

                            <div>
                              <select class="w-100 p-1">
                                <option selected disabled>Case sensitivity</option>
                                <option>Sensitive</option>
                                <option>Not Sensitive</option>
                                
                              </select>
                            </div>                            
                          </div>

                      </div>


                      <div class="row justify-content-center my-3">

                          <div class="col-md-2">

                          <label>ID<span>*</span> </label>

                          </div>

                          <div class="col-md-10 paddingCnceling">

                          <div><input type="text" class=" p-2 rounded w-100" placeholder="ID Number"></div>

                          </div>

          

                      </div>

                      
                      <div class="row justify-content-center my-3">

                          <div class="col-md-2">

                          <label>Location<span>*</span> </label>

                          </div>

                          <div class="col-md-10 paddingCnceling">

                          <div><input type="text" class=" p-2 rounded w-100" placeholder="Where are your case? Hospiatl address"></div>

                          </div>

                          <button id="fillMessageButton"  class="btn btn-outline-danger p-2 rounded">Fill Message</button>
                          
          

                      </div>

              
                      </div>

                      

                      <div id="ngetIn-m" class="check">


                      <div class="row justify-content-center my-3">

                          <div class="col-md-2">

                          <label>Message</label>

                          </div>

                          <div class="col-md-10 paddingCnceling">

                          <div><textarea type="text" class=" p-2 rounded w-100" placeholder="Message us if you have any note"></textarea>
                            <button id="finalSubmit" class="btn btn-outline-danger p-2 rounded">Search</button>
                          </div>
                          
                          </div>

          

                      </div>

                      </div>



                  </div>


                 

              </div>
 
          </div>

      </div>

    </section>
 
  <!--------------------------------------------------->

    <section id="resultsNeedDonation">

      <div class="overlay p-5">

          <div class="formResult rounded m-auto">
            <div class="resultInfo py-3">

              <div class="header mb-5">
                  <div class="rounded mb-3 d-flex justify-content-center align-items-center ">
                      <i class="fas fa-hand-holding-heart mr-3"></i>
                      <span>Request Information</span>
                  </div>
              </div>
        
            
              <div class="fullPage">
        
                  <div class="row container my-2">
        
                      <div class="col-md-2"></div>
        
                      <div class="col-md-3 ">
        
                          <div><p class="d-flex justify-content-center align-items-center">Process ID</p></div>
                      </div>
        
                      <div class="col-md-1"></div>
        
                      <div class="col-md-5"><p class="d-flex justify-content-center align-items-center">123456</p></div>
                  </div>
        
                  <div class="row container my-2">
        
                      <div class="col-md-3"></div>
        
                      <div class="col-md-7 ">
        
                          <div><p class="d-flex justify-content-center align-items-center">Congratulations, Your amount is here</p></div>
                      </div>
        
                      <div class="col-md-2"></div>
        
                  </div>
        
                  <div class="row container my-2">
        
                      <div class="col-md-2"></div>
        
                      <div class="col-md-3 ">
        
                          <div><p class="d-flex justify-content-center align-items-center">Hospital Name</p></div>
                      </div>
        
                      <div class="col-md-1"></div>
        
                      <div class="col-md-5"><p class="d-flex justify-content-center align-items-center">Nasr Hospital</p></div>
                  </div>
        
                  <div class="row container my-2">
        
                      <div class="col-md-2"></div>
        
                      <div class="col-md-3 ">
        
                          <div><p class="d-flex justify-content-center align-items-center">Detailed Address</p></div>
                      </div>
        
                      <div class="col-md-1"></div>
        
                      <div class="col-md-5"><p class="d-flex justify-content-center align-items-center">XYZ Streest Located in Hrer</p></div>
                  </div>
        
                  <div class="row container my-2">
        
                      <div class="col-md-3"></div>
        
                      <div class="col-md-7 ">
        
                          <div><p class="d-flex justify-content-center align-items-center">GET WELL SOON</p></div>
                      </div>
        
                      <div class="col-md-2"></div>
        
                  </div>
                
                  <div class="saveButton ">
              
                      <div class="row">
        
                          <div class="col-md-9"></div>
        
                          <div class="col-md-2">
        
                          <div><a href="templates/home.html"> <button class="btn btn-outline-danger p-1 rounded">Save</button></a></div>
        
                      </div>
        
                  </div>
        
              </div>
        
            </div>
          </div>
        
      </div>


    </section>

   

    <!-- End Side Nav-->

  <!-- News Row -->
 


    <div id="scrollButton">
      <div class="clickButton">
        <i class="fas fa-arrow-up"></i>
      </div>
    </div>
  

    <script src="static/js/jquery-3.5.1.js"></script>
    <script src="static/js/popper.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script> 
    <script src="static/js/main.js"></script>   
    <script src="static/js/script-sideNav.js"></script>
    
</body>
</html>